<!--
  ~ Copyright (c) 2012. Point Five Foundry
  ~ @author Jacob Mather <jacob@pointfivefoundry.com>
  -->

<phpunit
  colors="false"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  stopOnFailure="true"
  bootstrap="autoload.php">

  <testsuites>
    <testsuite name="Unit Tests">
      <directory>tests/*</directory>
    </testsuite>
  </testsuites>
</phpunit>
